@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=M+PLUS+Code+Latin&family=Oswald&family=Raleway:wght@500&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    /* so that sticky nav bar doesnt affect the scrolling to different sections */
    scroll-margin-block: 6rem;
}

/* font */
body{
    font-family: 'M PLUS Code Latin', monospace;
    text-align: center;

}
main {
    background-color: #0d0625;
}
::-webkit-scrollbar{
    display: none;
}
/* nav bar */
ul li{
    padding: 20px;
    overflow: hidden;
    color: antiquewhite;
    transition: 0.2s;

}
ul li:hover {
    color: aliceblue;
    background: blueviolet;
    box-shadow: 0 0 10px blueviolet, 0 0 10px blueviolet, 0 0 10px blueviolet;
}

/* home */
#home{
    background: url("https://i.postimg.cc/6QG48RVL/purpleswirl.jpg");
    background-position: center;
    background-size: cover;
}
#header {
    border-right: 5px solid rgb(216, 215, 215);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(23), cursor .4s step-end infinite alternate;
}

/* about */
#profileBlock{
    width: 200px;
}
#about {
    width: 100%;
}
img[alt='Profile'] {
    border: #0d0625;
    width: 200px;
    height: 250px;
}

/* education */
#lced{
    background-color: #211648;
}

/* skills */
#softskills {
    background-color: #211648;

}
img[alt='hardskill']{
    mix-blend-mode: darken;
}
img[alt='softskill']{
    mix-blend-mode: multiply;
}

/* projects */
#projectcol {
    background-color: #211648;
}
#projectimg{
    width: 10rem;
    height: 5rem;
}
a{
    text-decoration: none;
}

/* testimonials */
img[alt="Haanim Pietersen"] {
    width: 5rem;
    height: 5rem;
}

/* contact */
form{
    width: 500px;
    padding: 40px;
    height: 550px;
    border-radius: 15px;
    background-color: #211648;
    text-align: start;
}
.details{
    position: absolute;
    top: 3255px;
    left: 900px;
}

/* animations */
@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0;}
}

