@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=M+PLUS+Code+Latin&family=Oswald&family=Raleway:wght@500&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    /* so that sticky nav bar doesnt affect the scrolling to different sections */
    scroll-margin-block: 6rem;
}

/* font */
body{
    font-family: 'M PLUS Code Latin', monospace;
    text-align: center;

}
main {
    background-color: #0d0625;
}
::-webkit-scrollbar{
    display: none;
}




/* nav bar */
ul li{
    padding: 20px;
    overflow: hidden;
    color: antiquewhite;
    transition: 0.2s;

}
ul li:hover {
    color: aliceblue;
    background: blueviolet;
    box-shadow: 0 0 10px blueviolet, 0 0 10px blueviolet, 0 0 10px blueviolet;
}

/* home */
#home{
    background: url("https://i.postimg.cc/6QG48RVL/purpleswirl.jpg");
    background-position: center;
    background-size: cover;
}
#header {
    border-right: 5px solid rgb(216, 215, 215);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(23), cursor .4s step-end infinite alternate;
}
#aneeqa{
    color: fuchsia;
}


/* about */
#about {
    width: 100%;
    background-color: #070314;
    height: 700px;
}
img[alt='profile2'] {
    border: #0d0625;
    width: 350px;
    height: 550px;
    border-radius: 15px;
}

#about-wrapper{
    background-color: #332567;
    border: #070314 solid 2px;
    box-shadow: 0 0 10px blueviolet, 0 0 10px blueviolet, 0 0 10px blueviolet;
    border-radius: 10px;

}

/* education */
#educon{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 955px;

}
#lced{
    background-color: #211648;
}
#eduhead{
    position: relative;
}

/* skills */
#sklcon{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 920px;

}
#skillshead{
    position: relative;
}
#softskills {
    background-color: #302168;
    

}
#hardskills {
    background-color: #211648;
    

}
img[alt='hardskill']{
    mix-blend-mode: darken;
    width: 160px;
    height: 86px;
}
img[alt='softskill']{
    mix-blend-mode: multiply;
    width: 96px;
    height: 86px;
}

/* projects */

#procon {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 950px;
    /* mix-blend-mode: darken; */

}
#prohead{
    position: relative;
}
#projectcol {
    background-color: #312268;
}
#projectimg{
    width: 10rem;
    height: 5rem;
}
a{
    text-decoration: none;
}

/* testimonials */
#tmnlcon {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 999px;
    /* mix-blend-mode: darken; */

}
#tmnlhead{
    position: relative;
}
#testimonialimg{
    width: 5rem;
    height: 5rem;
}


/* contact */
form{
    position: relative;
    /* width: 500px; */
    padding: 40px;
    border-radius: 15px;
    background-color: #211648;
    text-align: start;
}
#conhead{
    position: relative;
}
#concon{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 975px;

}
 /* footer */
 footer{
    position: static;
    bottom: 0;
}
footer p{
    margin: 0;
}


/* animations */
@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0;}
}


/* media queries */
@media all and (max-width:810px){
    #aboutInfo, #aboutInfoafr{
        font-size: 13px;
    }
    #header {
        display: block;
    }
}
@media all and (max-width:695px){
    #aboutInfoafr{
        font-size: 15px;
    }
    #profile-wrapper{
        display: none;
    }
}

